<div class="features">

    {% for feature in site.features %}

    {% if feature.title %}
    <div class="feature">
        <div>
            {% assign icon_name = feature.feather_icon_name | default: 'circle' %}
            <span class="featureIcon" aria-hidden="true">
                <i data-feather="{{ icon_name }}" aria-hidden="true"></i>
            </span>
        </div>
        <div class="featureText">
            <h3>
                {{ feature.title }}
            </h3>
            <p>
                {{ feature.description }}
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>