<footer>
	{% if site.your_name %}
	<p class="footerText">Made by {% if site.your_link %}<a href="{{ site.your_link }}">{% endif %}{{ site.your_name }}{% if site.your_link %}</a>{% endif %}{% if site.your_city %} in {{ site.your_city }}{% endif %}</p>
	{% endif %}
	{% if site.show_social_links %}
	<div class="footerIcons">

		{% if site.linkedin_username %}
			<a class="socialIconLink" href="https://linkedin.com/in/{{ site.linkedin_username }}" aria-label="LinkedIn">
				<span class="socialIcon" aria-hidden="true">
					<i data-feather="linkedin" aria-hidden="true"></i>
				</span>
			</a>
		{% endif %}

		{% if site.linkedin_company %}
			<a class="socialIconLink" href="https://linkedin.com/company/{{ site.linkedin_company }}" aria-label="LinkedIn company">
				<span class="socialIcon" aria-hidden="true">
					<i data-feather="linkedin" aria-hidden="true"></i>
				</span>
			</a>
		{% endif %}

		{% if site.facebook_username %}
			<a class="socialIconLink" href="https://facebook.com/{{ site.facebook_username }}" aria-label="Facebook">
				<span class="socialIcon" aria-hidden="true">
					<i data-feather="facebook" aria-hidden="true"></i>
				</span>
			</a>
		{% endif %}

		{% if site.twitter_username %}
			<a class="socialIconLink" href="https://twitter.com/{{ site.twitter_username }}" aria-label="Twitter">
				<span class="socialIcon" aria-hidden="true">
					<i data-feather="twitter" aria-hidden="true"></i>
				</span>
			</a>
		{% endif %}

		{% if site.instagram_username %}
			<a class="socialIconLink" href="https://instagram.com/{{ site.instagram_username }}" aria-label="Instagram">
				<span class="socialIcon" aria-hidden="true">
					<i data-feather="instagram" aria-hidden="true"></i>
				</span>
			</a>
		{% endif %}

		{% if site.mastodon_link %}
			<a class="socialIconLink" rel="me" href="{{ site.mastodon_link }}" aria-label="Mastodon">
				<span class="socialIcon" aria-hidden="true">
					<i data-feather="message-circle" aria-hidden="true"></i>
				</span>
			</a>
		{% endif %}

		{% if site.github_username %}
			<a class="socialIconLink" href="https://github.com/{{ site.github_username }}" aria-label="GitHub">
				<span class="socialIcon" aria-hidden="true">
					<i data-feather="github" aria-hidden="true"></i>
				</span>
			</a>
		{% endif %}

		{% if site.email_address %}
			<a class="socialIconLink" href="mailto:{{ site.email_address }}" aria-label="Email">
				<span class="socialIcon" aria-hidden="true">
					<i data-feather="mail" aria-hidden="true"></i>
				</span>
			</a>
		{% endif %}

	</div>
	{% endif %}
	<div class="footerLinks">
		{% if site.testflight_link %}
			<a href="{{ site.testflight_link }}">Join TestFlight</a>
		{% endif %}
		{% for page in site.pages %}
			<a href="{{ page.url | relative_url }}" target="_self">{{ page.title }}</a>
		{% endfor %}
		{% if site.presskit_download_link %}
			<a href="{{ site.presskit_download_link }}">Press Kit</a>
		{% endif %}
	</div>
</footer>