<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% if site.preview_video_path %}
    <script>
        $(function() {
            $(".iphoneScreen").addClass("hidden");
            $(".videoContainer").removeClass("hidden");
            $(".screenvideo").append('<source src="{{ site.preview_video_path | relative_url }}" type="video/mp4">');
        });
    </script>
{% elsif site.screenshot_path %}
    <script>
        $(function() {
            $(".iphoneScreen")
                .attr("src", "{{ site.screenshot_path | relative_url }}")
                .attr("alt", "VERSO app preview")
                .removeClass("hidden");
        });
    </script>
{% endif %}