<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script>
    $(function() {
        var $image = $(".iphoneScreen");
        var $videoContainer = $(".videoContainer");
        var $video = $(".screenvideo");
        var video = $video.get(0);

        {% if site.screenshot_path %}
            $image
                .attr("src", "{{ site.screenshot_path | relative_url }}")
                .attr("alt", "VERSO app preview")
                .removeClass("hidden");
        {% endif %}

        {% if site.preview_video_path %}
            var showStaticPreview = function() {
                video.pause();
                $videoContainer.addClass("hidden");
            };

            var playVideoPreview = function() {
                $videoContainer.removeClass("hidden");
                video.muted = true;

                if (video.ended) {
                    video.currentTime = 0;
                }

                var playPromise = video.play();
                if (playPromise) {
                    playPromise.catch(showStaticPreview);
                }
            };

            video.addEventListener("ended", showStaticPreview);
            video.addEventListener("error", showStaticPreview, { once: true });
            video.addEventListener("playing", function() {
                $videoContainer.removeClass("hidden");
            }, { once: true });

            if (video.readyState >= 2) {
                playVideoPreview();
            } else {
                video.addEventListener("canplay", playVideoPreview, { once: true });
            }

            window.addEventListener("pageshow", function(event) {
                if (event.persisted) {
                    video.currentTime = 0;
                    playVideoPreview();
                }
            });
        {% endif %}
    });
</script>